.App {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background:#3498DB ;
}

/*Para Las Listas de paises*/
ul {
  list-style-type:none;
  color: #363636;
  font-weight: bold;
  background:#3498DB ;
  align-items: center;
}

@media (min-width:900px){
.grid-card{
  grid-template-columns: repeat(3,2fr)
}
}

.grid-card {
  display: grid;
  background-color: #85C1E9 ;
  padding: 10px;
  margin: 0 auto;
}
.grid-item {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  
}

.grid-header-search{
  display: grid;
  grid-template-columns: auto;
  background-color: #3498DB ;
  padding: 10px;
}
.grid-item-search {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  width: 80%;
}