.App {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background:#85b0bd;
}

/*Para Las Listas de paises*/
ul {
  list-style-type:none;
  color: #363636;
  font-weight: bold;
  background:#85b0bd;
}

.flex-container {
   display: flex;
   justify-content:center;
   flex-flow: row wrap;
   padding: 0;
   margin: 0;
   list-style: none;
   background:#a0cad8;
}

.flex-item {
  padding: 5px;
  width: 390px;
  height: 180px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flex-search {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-itemsearch {
   width: 80%;
   padding: 5px;  
   color: white;
   font-weight: bold;
   font-size: 3em;
   text-align: center;
 }


 /*li { float: left; width: 30%; height: 50px; background:#a0cad8 }*/